/* universal slector*/
*{
	font-family: 'Fresca', sans-serif;
	margin: 0;
	padding:0;

}
nav{
	height: 60px;
	width: 100%;
	background-color: orange;
}
nav .logo{
	float: left;
	font-size: 18px;
	margin-top:1%;
}
nav .logo span{
	font-size: 28px;
	color: orangered;
}
nav .navigation{
text-align: right;
}
nav .navigation li{
	display: inline-block;
	margin: 2% 3%;
}
nav .navigation li a{
	text-decoration: none;
	color: white;
}
nav .navigation li a:hover{
	text-decoration: underline;
	color: orangered;
}
header{
	height: 75px;
}
.search-box{
	width: 100%;
	float: right;
	height: 75px;
	text-align:right;
	margin: 0 100px 0 auto;	
}
input{
	height: 30px;
	border: transparent;
}
.figure{
	width: 100%;
	height: 400px;
	margin: 0 auto;
	vertical-align: top;
	display:inline-block;
}
img{
	height: 355px;
	width: 600px;
}
.info{
float: right;
margin-top: 100px;
height: 255px;
width:525px;
}
.info p{
	color: orange;
	font-size: 28px;
	line-height: 55px;
	word-spacing: 10px;
}
.info > p> span{
	color: black;
	font-size: 36px;
}
.button-group > div{
	display: inline-block;
	padding: 10px 35px 0 0;
}
button{
	padding: 8px;
	font-size: 18px;
	color: grey;
	background-color: black;
}

footer{
	margin: 50px auto;
	height: 105px;
		background-color: lightblue;
}