/* universal slector*/
*{
	font-family: 'Fresca', sans-serif;
	margin: 0;
	padding:0;

}
body{
	background-color:cyan;
}
nav{
	height: 60px;
	width: 100%;
	background-color: orange;
}
nav .logo{
	float: left;
	font-size: 18px;
	margin-top:1%;
}
nav .logo span{
	font-size: 28px;
	color: orangered;
}
nav .navigation{
text-align: right;
}
nav .navigation li{
	display: inline-block;
	margin: 2% 3%;
}
nav .navigation li a{
	text-decoration: none;
	color: white;
}
nav .navigation li a:hover{
	text-decoration: underline;
	color: orangered;
}
header{
	height: 75px;
}
.search-box{
	width: 100%;
	float: right;
	height: 75px;
	text-align:right;
	margin: 0 100px 0 auto;
}
input{
	text-align: center;
	height: 30px;
	border: transparent;
}
.container-fluid p{
	color: orange;
	font-size: 28px;
	line-height: 55px;
	word-spacing: 10px;
}
.container-fluid > p> span{
	color: black;
	font-size: 36px;
}
button{
	margin-right: 25px;
	padding: 8px;
	font-size: 18px;
	color: grey;
	background-color: black;
}
button:nth-child(2) {
	background-color:lightblue;
	font-style: italic;

}
button:nth-child(3) {
	background-color: orangered;
}

footer{
	margin: 0;
	height: 60px;
		background-color: lightblue;
		bottom:0;
		left:0;
		right:0;
}
@media(max-width:400px){
	nav .navigation li:nth-child(3){
		display: none;
	}
	nav .navigation li:nth-child(4){
		display: none;
	}
	.search-box{
		display: none;
	}
	button:nth-child(2){
		padding: 2px;
	}
	/*button:nth-child(3){
		padding:2px;
	}*/
}
